main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  & div:first-child {
    width: 100%;
    height: auto;
    text-align: center;

    h1 {
      margin-bottom: 2.5rem;
    }

    .actions {
      width: 95%;
      max-width: 800px;
      height: auto;
      background: #fff;
      border-radius: 1.2rem;

      .session-container {
        background: $secondary-color;
        padding: 2rem 1rem;
        border-radius: 1.2rem 1.2rem 0 0;

        & div:first-child {
          h2 {
            color: #fff;
            font-size: 8rem;
            letter-spacing: 0.5rem;
            margin: 1.5rem 0;

            @media (max-width: 600px) {
              font-size: 6rem;
            }
          }

          h3 {
            color: #fff;
            font-size: 2rem;
          }

          .btns {
            @include flex-center;
            gap: 1rem;
          }
        }
      }

      .lengths {
        @include flex-center;
        padding: 2rem 1rem;

        .up-down-arrows {
          @include up-down;
        }

        .session-length {
          flex: 1;

          & div:first-of-type {
            @include flex-center;
            margin-top: 1rem;
          }
        }

        .break-length {
          flex: 1;

          & div:first-of-type {
            @include flex-center;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
